<div class="signup-container">
    <div class="signup-card">
      <h2>Register</h2>
      <form (submit)="register($event)">
        <div>
          <label for="username">Username:</label><br>
          <input type="text" id="username" (input)="onUsernameInput($event)" required><br>
        </div>
        <div>
          <label for="email">Email:</label><br>
          <input type="text" id="email" (input)="onEmailInput($event)" required><br>
        </div>
        <div>
          <label for="password">Password:</label><br>
          <input type="password" id="password" (input)="onPasswordInput($event)" required><br>
        </div>
        <button type="submit">Register</button>
        <p>Already have an account? <a routerLink="/login" class="link-text">Login here</a></p>
      </form>
    </div>
  </div>
  